<html>
	<head>
		<title> Claire's Cybersecurity Corner </title>
		<h1> {{ page.title }} </h1>
		
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- Slider CSS -->
		{% if page.iis_slider_active %}
        <link rel="stylesheet" href="../_plugins/Ideal-Image-Slider-JS-master/ideal-image-slider.css">
		<link rel="stylesheet" href="../_plugins/Ideal-Image-Slider-JS-master/themes/default/default.css">
		{% endif %}
	</head>
	<body>
		<!-- <h1>Claire's Cybersecurity Corner</h1> !-->
		<nav>
    		<ul>
        	    <li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/blog/2019/11/15/flat">FKP</a></li>
	        	<li><a href="/about">About</a></li>
    		</ul>
		</nav>
		<footer>
		</footer>
		<div class="container">
    					{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:The name presented on the homepage at domain name dut com">Email</a></li>
			<li><a href="mailto:Okay, my email starts with &quot;C&quot; and then &quot;L&quot; and then &quot;ARINA&quot; with an [at] following it with the domain name in the title of this link dawt com">Protonmail</a></li>
			<li><a href="/donate.html" alt="Support my friend's cause!">Donate</a></i>
			<li><a href="/blog/atom.xml">Blog RSS</a></li>
			</ul>
		</footer>
	<!-- Slider -->
	{% if page.iis_slider_active %}
        <script src="../_plugins/Ideal-Image-Slider-JS-master/ideal-image-slider.min.js"></script>
        <script src="../_plugins/Ideal-Image-Slider-JS-master/extensions/bullet-nav/iis-bullet-nav.js"></script>
        <script src="../_plugins/Ideal-Image-Slider-JS-master/extensions/bullet-nav/captions/iis-captions.js"></script>
        <!-- Sliders on pages -->
        {% for script in page.iis_slider_scripts %}
        {{ script }}
        {% endfor %}
        <!-- Sliders on indexes -->
        {% for post in paginator.posts %}
          {% for script in post.iis_slider_scripts %}
            {{ script }}
          {% endfor %}
    	{% endfor %}
    {% endif %}
	</body>
</html>
