<!DOCTYPE html>
<html>
	<head>
		<title> {{ page.title }} </title>
		<h1> {{ page.title }} </h1>
		
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<!-- <h1>Claire's Cybersecurity Corner</h1> !-->
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<footer>
		</footer>
		<div class="container">
    					{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:claire@clairescc.com">email</a></li>
			<li><a href="/blog/atom.xml">rss</a></li>
			</ul>
		</footer>
	</body>
</html>
