

<!DOCTYPE html>
<html>
	<head>
		<title> Claire's Cybersecurity Corner </title>
		<h1> {{ page.title }} </h1>
		<meta name="description" content="A personal blog devoted to cybersecurity topics and issues." /> 
		 <meta name="keywords" content="cybersecurity, blog, network security, social engineering, endpoint protection,
						attacks, ids, ips, apt, splunk, nmap, arcsight, snort, suricata, bro,
						computer science, malware, cognitive science, psychology, philosophy, memes,
						firewall, brute force, hat, Claire, Clarina" />

		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<!-- <h1>Claire's Cybersecurity Corner</h1> !-->
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<footer>
		</footer>
		<div class="container">
    					{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:The name presented on the homepage at domain name dut com">Email</a></li>
			<li><a href="Okay, my email starts with \"C\" and then \"L\" and then \"ARINA\" with an [at] following it with the domain name in the title of this link dawt com>Protonmail</a></li>
			<li><a href="/donate.html" alt="Support my friend's cause!">Donate</a></li>
			<li><a href="/blog/atom.xml">Blog RSS</a></li>
			</ul>
		</footer>
	</body>
</html>
